<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }} - Project Manager</title>
    {% else %}
    <title>Welcome to Project Manager</title>
    {% endif %}

    {% block script %}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">
        var socket;
        $(document).ready(function(){
            socket = io.connect('http://' + document.domain + ':' + location.port);
            socket.on('connect', function() {
                socket.emit('joined', {});
            });
        });
    </script>
    {% endblock script %}
</head>
<body>
    <hr>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div>
            {% for message in messages %}
            {{ message }}<br>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}
    {% block content %}

    {% endblock content %}
</body>
</html>
