{% import "bootstrap/wtf.html" as wtf %}
{% extends "layout/base.html" %}

{% block script %}
{{ super() }}
{% endblock script %}

{% block content %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if add_task %}
                <h1>Add Task</h1>
            {% else %}
                <h1>Edit Task</h1>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
